.card {
	// margin: 5px 0 8px 0;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	li {
		border-bottom: 1px solid #ccc;
		display: flex;
		margin: 0 -7px 0 -7px;
		padding: 5px 10px;
		.card__list-key, 
		.card__list-value, 
		.card__list-key, .card__list-action {
			min-height: 35px;
			margin: 0;
			padding: 0;
		}
		span button {
			margin: 0;
		}
		.card__list-key {
			font-size: 12px;
			text-transform: uppercase;
		}
		.card__list-key, .card__list-value { padding-top: 8px; }
		.card__list-key { width: 40%; }
		.card__list-value { 
			font-size: 14px;
			width: 50%; 
		}
		.card__list-action { 
			position: absolute;
			right: 20px;
			width: 40px; }
	}
	li:last-child {
		border-bottom: 0;			
	}
}

.card.card__non-editable {
	.card__list-value {
		width: 60%;
	}
	.card__list-action {
		display: none;
	}
}
