@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: rgba(0, 0, 0, 0.732);
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

hr {
    background: #e6e6e6;
    height: 1px;
    border: 0;
    width: 100%;
}

a.editor {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


/*
= SVG icons and logos
*/

.icn {
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-affordable-icn-blk,
.icon-env-icn-blk,
.icon-house-icn-blk,
.icon-production-icn-blk,
.icon-thumb-icn-blk,
.icon-community-icn-blk {
    color: rgba(0, 0, 0, 0.76);
}

.icon-mouse-icn-wht,
.icon-play-icn-wht {
    color: #fff;
}

.embed-video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-video-container iframe,
.embed-video-container object,
.embed-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}