@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");

$border-radius-u: 4px;
$font-weight-bold: 600;

// body::before {
//   background: #000 url("~@/assets/sign-in.png");
//   width: 1923px;
//   height: 100%;
//   content: "";
//   display: block;
//   position: fixed;
//   z-index: 9999;
//   opacity: 0.6;
//   left: 0;
//   pointer-events: none;
// }

body.login-page .v-content__wrap {
  background-image: url("~@/assets/sign-in-bg.png");
  background-origin: padding-box;
  background-position: center center;
  background-size: cover;
}

hr {
  background: #e6e6e6;
  height: 1px;
  border: 0;
  width: 100%;
}
aside {
  .v-list .v-list__tile--link,
  .v-list .v-list__tile--highlighted,
  .v-list .v-list__group__header {
    border-radius: $border-radius-u;
    font-weight: $font-weight-bold;
    color: #757575;
    .v-icon {
      color: #757575;
      caret-color: #757575;
    }
    &:hover {
      background: #e7e9f0;
      color: #394b88;
      .v-icon {
        color: #394b88;
        caret-color: #394b88;
      }
    }
    &.v-list__tile--active {
      color: #182251 !important;
      background: #e7e9f0;
      .v-icon {
        color: #182251 !important;
        caret-color: #182251 !important;
      }
    }
  }
}
.v-card,
.v-btn {
  border-radius: $border-radius-u;
}
.v-btn {
  font-weight: $font-weight-bold;
}
.section .container {
  padding: 4px;
  &.grid-list-lg .layout .column.flex.m4 {
    padding: 0 !important;
    .flex {
      padding: 4px;
    }
  }
}

.v-alert.v-alert.lennar-alert {
  & {
    border-width: 1px;
    background: #fff;
    color: #585858;
    margin: -8px 0 16px;
  }
  & .v-alert__icon.v-icon,
  &.v-alert__dismissible .v-icon {
    color: #ffc108;
    caret-color: #ffc108;
  }
}

.v-card--flat {
  border: 1px solid #e6e6e6 !important;
}
.v-stepper__step.v-stepper__step--active .v-stepper__step__step {
  background: #212121 !important;
}

.v-stepper__step.v-stepper__step--complete .v-stepper__step__step {
  background: #78be21 !important;
}

.v-stepper__step:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error)
  .v-stepper__step__step {
  background: #9e9e9e;
}
.v-card {
  .v-expansion-panel {
    background: transparent;
    box-shadow: none;
    .v-expansion-panel__container {
      background: transparent;
    }
    h4 {
      color: #313a64;
    }
  }
}

.elev {
  cursor: pointer;
}

.v-content__wrap {
  display: flex;
}

.section {
  .container.fluid.fill-height.fill-width {
    margin: 16px 8px;
  }
}

.embed-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-video-container iframe,
.embed-video-container object,
.embed-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
