@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body,
.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#temp-template-nav {
  position: fixed;
  background: #333;
  color: #eee;
  right: 0;
}

.main {
  display: flex;
  flex: 1 0 auto;
  background: #f2f2f2;
  > * {
    display: flex;
    flex-flow: column wrap;
  }
  .aside {
    flex: 0 0 240px;
    min-width: 140px;
    background: #fff;
    padding: 0.5rem;
    .brand-image {
      height: 45px;
      width: 45px;
      margin: 1rem 0;
    }
    .user-name {
      font-size: $h6-fontsize;
      letter-spacing: 0.02rem;
    }
    .side-navigation {
      ul {
        list-style-type: none;
      }
    }
  }
  .section {
    flex: 1 auto;
    padding: 0.7rem;
  }
}

// Side Navigation link list

.side-navigation {
  display: flex;
  flex-flow: column wrap;
  .btn-flat {
    display: flex;
    flex: 1 0 100%;
    padding: 0 5px;
    text-transform: capitalize;
    color: $off-black;
    &.--active {
      color: #394b88;
      background-color: #e7e9f0;
    }
  }
}

.footer {
  color: #999999;
  background: #333;
  text-align: center;
  padding: 3px 0 5px;
}
